<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<Logging>
		<LogLevel IncludeScopes="0">
			<Default>Debug</Default>
			<Microsoft>Warning</Microsoft>
			<Debug>Trace</Debug>			
		</LogLevel>
	</Logging>
	<connectionStrings>
		<add name="database" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MyDatabase;Integrated Security=True"/>
	</connectionStrings>
</configuration>