<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<Logging>
		<LogLevel>
			<Default>Trace</Default>
			<Microsoft>Warning</Microsoft>
			<Debug>Information</Debug>			
		</LogLevel>
	</Logging>
	<connectionStrings>
		<add name="database" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MyDatabase;Integrated Security=True"/>
	</connectionStrings>
</configuration>